body {
  margin: 0%;
  padding: 0%;
  background-color: aqua;
}

.quiz-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  top: 5%;
  right: 5%;
  bottom: 5%;
  left: 5%;
  margin: 0%;
  padding: 0%;
  width: 90%;
  height: 90%;
}

.quiz-section .main-title {
  color: black;
}

.quiz-section .cards-container {
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 40%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.quiz-section .cards-container .card {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2), 0 4px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.2), 0 4px 10px rgba(0, 0, 0, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #554f4f;
  border-radius: 10px;
  width: 100%;
  padding: 2%;
  margin: 3%;
}

.quiz-section .cards-container .card .question {
  color: #ece9e4;
}

.quiz-section .cards-container .card ul {
  list-style: none;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.quiz-section .cards-container .card ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 1%;
  color: #ece9e4;
}

.quiz-section .submit-button {
  opacity: 0;
  position: absolute;
  background-color: #CCA33D;
  -webkit-transition: background-color 0.2s ease-out;
  border: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 5px;
  color: white;
  padding: 0.6em 1.2em;
  text-align: center;
  text-justify: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
  margin-right: 1em;
  cursor: pointer;
  bottom: 2%;
  right: 5%;
}

.quiz-section .submit-button:hover {
  background-color: #717972;
}

.quiz-section .result-container {
  opacity: 0;
  position: absolute;
  top: 10%;
}

.quiz-section .result-container .try-again-button {
  background-color: #CCA33D;
  -webkit-transition: background-color 0.2s ease-out;
  border: none;
  width: 100%;
  border-radius: 5px;
  color: white;
  padding: 0.6em 1.2em;
  text-align: center;
  text-justify: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
  margin-right: 1em;
  cursor: pointer;
}

.quiz-section .result-container .try-again-button:hover {
  background-color: #717972;
}

.quiz-section .active {
  opacity: 1;
}
/*# sourceMappingURL=index.css.map */