body{
    margin: 0%;
    padding: 0%;
    background-color: aqua;
}


.quiz-section{
    display: flex;
    flex-direction: column;
    align-items: center;
   
    position: relative;
    top: 5%;
    right: 5%;
    bottom: 5%;
    left: 5%;
    margin: 0%;
    padding: 0%;

    width: 90%;
    height: 90%;

    .main-title{
        color: black;


    }


    .cards-container{
       
        opacity: 0;
     
        display: flex;
        width: 40%;
      
        align-items: center;
        flex-direction: column;
       
          .card{
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2), 0 4px 10px rgba(0, 0, 0, 0.1);
              display: flex;
              align-items: flex-start;
              flex-direction: column;
            background-color: rgb(85, 79, 79);
            border-radius: 10px;
            
            width: 100%;
            padding: 2%;
            margin: 3%;
            .question{
                color: rgb(236, 233, 228);
            }

            ul{
                list-style: none;
                align-self: flex-start;
                

                li{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    row-gap: 1%;
                    color: rgb(236, 233, 228);
                }
            }
          }

       

    }
    .submit-button{
        opacity: 0;
        position: absolute;
        background-color: #CCA33D;
        -webkit-transition: background-color 0.2s ease-out;
        border: none;
        width: fit-content;
        border-radius: 5px;
        color: white;
        padding: 0.6em 1.2em;
        text-align: center;
        text-justify: center;
        text-decoration: none;
        display: inline-block;
        font-size: 1em;
        margin-right: 1em;
        cursor: pointer;

        bottom: 2%;
        right: 5%;
    
        &:hover{
            background-color: #717972;
        }
      }

    .result-container{
        opacity: 0;
        position: absolute;
        top: 10%;

        .try-again-button{
            background-color: #CCA33D;
            -webkit-transition: background-color 0.2s ease-out;
            border: none;
            width: 100%;
            border-radius: 5px;
            color: white;
            padding: 0.6em 1.2em;
            text-align: center;
            text-justify: center;
            text-decoration: none;
            display: inline-block;
            font-size: 1em;
            margin-right: 1em;
            cursor: pointer;
        
            &:hover{
                background-color: #717972;
            }
        }
    }

    .active{
        opacity: 1;
    }
    
}